footer {
    width: 100%;
    height: 400px;
    background-color: rgb(31, 31, 31);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;

    div {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-around;
        color: white;
        text-align: center;
        align-items: center;


    }

    img {
        width: 80px;
    }

}


.links p {
    cursor: pointer;
}

.links p:hover {
    text-decoration: underline;
}