<footer *ngIf="currentRoute === '/'">
    <div class="container">
        <div class="links">
            <p>Вакансии</p>
            <p>Партнеры</p>
            <p>Контакты</p>
            <p>О компании</p>
        </div>
        <div>
            <p>Телефон горячей линии<br><span>8 800 555 35 35</span></p>
            <div class="logo">
                <p routerLink="/" class="logo">Домино<br><span>Универмаг</span></p>
                <p>Все права защищены</p>
                <p>© 2023</p>
            </div>
        </div>
        <div class="links" >
            <p>Поставщикам</p>
            <p>Инвесторам</p>
            <p>Оптовая закупка</p>
            <p>Рекламодателям</p>
        </div>
    </div>
</footer>
