.main_block {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
    top: 50px;
}

.filters {
    top: 10px;
    position: relative;
    width: 14%;
    height: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        margin-top: 10px;
    }
}

.price{
    width: 90%;
}

.info {
    display: flex;
}

.stats{
    text-align: end;
    width: 50%;
}

.name{
width: 50%;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

.acepts {
    background-color: rgb(6, 207, 6);
    border: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
    font-size: 16px;
    transition: 0.1s;
    cursor: pointer;
    color: white;
}



.catalog {
    top: 10px;
    position: relative;
    width: 84%;
    height: 700px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;


}


.item{
    width: 90%;
    height: 100px;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    margin-top: 14px;
}
