<div class="main_block">
  <div class="container">
    <div class="catalog">
      <app-item-card *ngFor="let item of itemsInCart;"
                     [itemInfo]="item.info"
                     [isShoppingCart]="true">
      </app-item-card>
    </div>

    <div class="filters">
      <div class="price">
        <p class="title">Ваша корзина</p>
        <div class="info">

          <div class="name">
            <p>Товаров(1)</p>
            <p>Скидка</p>
          </div>

          <div class="stats">
            <p style="font-weight: bold;">34p</p>
            <p style="color:red;">-16p</p>
          </div>

        </div>
      </div>
      <button class="acepts">Оплатить</button>
    </div>
  </div>
</div>
