<header *ngIf="currentRoute === '/'; then indexHeader else otherHeader">
</header>
<ng-template #indexHeader>
  <div class="index_header">
    <div class="container">
      <div>
        <p routerLink="/" class="logo">Домино<br><span>Универмаг</span></p>
      </div>
      <div class="search">
        <input placeholder="Поиск товара" (input)="searchInput($event)"
               alt="0" (focusin)="sInput.alt = '1'" (focusout)="sInput.alt = '0'; sInput.value = '';" #sInput
        />
      </div>
      <div class="menu" id="menu" (click)="openMenu()">
        <div class="prikol">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="search_block" id="sb0"
           [style]="{ display: sInput.alt === '1' || searchBlock.id === 'sb1' ? 'flex' : 'none' }"
           #searchBlock (mousemove)="searchBlock.id = 'sb1'" (mouseout)="searchBlock.id = 'sb0'"
      >
        <ng-container *ngIf="searchList.length > 0 && (sInput.alt === '1' || searchBlock.id === 'sb1')">
          <ng-container *ngFor="let item of searchList; first as isFirst">
            <p routerLink="/item-page/{{item.id}}"
              [style]="{ marginTop: isFirst ? '10px' : '0' }">
              {{ item.category | GetKeyAndReplaceUnderlinesToSpaces }}:
              <br>
              {{ item.name }}
            </p>
          </ng-container>
        </ng-container>
      </div>
    </div>

  </div>

</ng-template>

<ng-template #otherHeader>
  <div class="sub_header">
    <div class="container">
      <p routerLink="/" class="logo">Домино<br><span>Универмаг</span></p>
      <input class="search" placeholder="Поиск товара" (input)="searchInput($event)"
             alt="0" (focusin)="sInput.alt = '1'" (focusout)="sInput.alt = '0'; sInput.value = '';" #sInput
      />
      <div class="menu" id="menu" (click)="openMenu()">
        <div class="prikol">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="search_block" id="sb0"
           [style]="{ display: sInput.alt === '1' || searchBlock.id === 'sb1' ? 'flex' : 'none' }"
           #searchBlock (mousemove)="searchBlock.id = 'sb1'" (mouseout)="searchBlock.id = 'sb0'"
      >
        <ng-container *ngIf="searchList.length > 0 && (sInput.alt === '1' || searchBlock.id === 'sb1')">
          <ng-container *ngFor="let item of searchList; first as isFirst">
            <p routerLink="/item-page/{{item.id}}"
              [style]="{ marginTop: isFirst ? '8px' : '0' }">
              Категория: {{ item.category | GetKeyAndReplaceUnderlinesToSpaces }}
              <br>
              {{ item.name }}
            </p>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

</ng-template>

<div class="menu_block" id="menu_block">
  <p class="menu_name">Меню</p>
  <div class="close" id="close_menu" (click)="closeMenu()">X</div>
  <div class="menu_pages">
    <p routerLink="/" (click)="closeMenu()">Главная</p>
    <p *ngIf="isLogged && user.accountType >= 1" routerLink="/admin-panel" (click)="closeMenu()">Админ-панель</p>
    <p *ngIf="isLogged" routerLink="/profile" (click)="closeMenu()">Профиль</p>
    <p *ngIf="!isLogged" routerLink="/login" (click)="closeMenu()">Авторизация</p>
    <p routerLink="/catalog" (click)="closeMenu()">Каталог</p>
    <p routerLink="/shopping-cart" (click)="closeMenu()">Корзина</p>
    <p *ngIf="isLogged" (click)="closeMenu(); logout()">Выйти</p>
  </div>
</div>
