<header>
    <!-- <% try { %> -->
        <!-- <% if (page==='/' ) { %> -->
            <div class="conteiner">
                <p routerLink="/">Серега<br>Универмаг</p>
                <input class="search" placeholder="Поиск товара">
                <div class="menu" id="menu" (click)="openmenu()">
                    <div class="prikol">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>

            </div>
            <!-- <% } %> -->
                <!-- <% } %> -->

</header>

<div class="menu_block" id="menu_block">
    <p class="menu_name">Меню</p>
    <div class="close" id="closemenu" (click)="closeMenu()">X</div>
    <div class="menu_pages">
        <p routerLink="/" (click)="closeMenu()">Главная</p>
        <p routerLink="/profile" (click)="closeMenu()">Профиль</p>
        <!-- <p routerLink="/login">Авторизация</p> тута проверка на логин не логин пон? -->
        <p routerLink="/" (click)="closeMenu()">Каталог</p>
        <p routerLink="/shopping-cart" (click)="closeMenu()">Корзина</p>
        <p>Выйти</p>
    </div>
</div>