<div class="main_block">
    <div class="popUp_bg" id="popupBG"></div>
    <div class="popUp_add " id="popup">
        <p class="close">X</p>
        <div class="add_img">
            <p>Добавить изображение</p>
        </div>
        <input placeholder="Название">
        <select aria-placeholder="Категория" >
            <option>Фрукты</option>
            <option>Овощи</option>
            <option>Другое</option>
            <option>Придумай сам</option>
        </select>
        <input placeholder="Вес">
        <input placeholder="Цена">
        
            <textarea class="discriptionAdd" placeholder="Описание"></textarea>
           
        
        <button class="add">Добавить</button>
    </div>

    <div class="list">
        <div class="add">
            <p>Добавить</p>
        </div>
        <div class="colon_name">
            <p style="width: 55%;">Название</p>
            <p style="width: 15%; text-align: end;">Вес</p>
            <p style="width: 15%; text-align: end;">Цена</p>
        </div>
        <div class="item">
            <p class="Book_name">Доширак</p>
            <p class="author"> 10г </p>
            <p class="adding_date">40 р</p>
        </div>
    </div>
</div>