<div class="container">
  <div class="main_block">
    <div class="main_info">
      <div class="profile_name">
        <div><img></div>
        <p>{{ user.firstname }} {{ user.lastname }}</p>
      </div>
      <div class="user_info">

        <div class="left">
          <p>Почта</p>
          <ng-container *ngIf="user.phone !== null">
            <p>Номер телефона</p>
          </ng-container>
          <p>Дата регистрации</p>
        </div>
        <div class="right">
          <p>{{ user.email }}</p>
          <ng-container *ngIf="user.phone !== null">
            <p>{{ user.phone }}</p>
          </ng-container>

          <p>{{ user.created }}</p>
        </div>
      </div>

    </div>
    <div class="order_info">
      <p class="title">Ваши заказы</p>
      <div class="orders">

        <div class="past">
          <p class="sub_title">Завершенные</p>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>
        </div>
        <div class="active">
          <p class="sub_title">Активные</p>
          <div class="item">
            <p>20 марта 2023</p>
            <p>2000 р.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
