<div class="conteiner">
    <div class="main_block">
        <div class="main_info">
            <div class="profile_name">
                <div><img></div>
                <p>Шалимов Cергей</p>
            </div>
            <div class="user_info">

                <div class="left">
                    <p>Почта</p>
                    <p>Пароль</p>
                    <p>Номер телефона</p>
                    <p>Дата регистрации</p>
                </div>
                <div class="right">
                    <p>cool@maifh.ru</p>
                    <p>*********</p>
                    <p>890000002200</p>
                    <p>22.22.22</p>
                </div>
            </div>

        </div>
        <div class="order_info">
            <p class="title">Ваши заказы</p>
            <div class="orders">

                <div class="past">
                    <p class="sub_title">Завершенные</p>
                    <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div>
                    <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div> <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div> <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div> <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div> <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div> <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div> <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div> <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div> <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div> <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div> <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div> <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div> <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div> <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div>
                </div>
                <div class="active">
                    <p class="sub_title">Активные</p>
                    <div class="item">
                        <p>20 марта 2023</p>
                        <p>2000 р.</p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>