<main class="book_main">
    <div class="book_info">
        <div class="image_rating">
            <div class="book_img">
                <img src="/images/UpldaOIVq6Y.png">
            </div>
            <p>
                Возростное ограничение: 8+
            </p>
        </div>
        <div class="book_author_info">
            <div class="book_name">
                <p>Доширак</p>
            </div>
            <div class="author_name">
                <p>Компания: <span style="font-size: 16px;">Доширак</span></p>
                <!-- <p>Дата выхода: <span style="font-size: 16px;">11.11.2003</span></p>
                <p>Дата появления на ElecLib: <span style="font-size: 16px;">11.11.2010</span></p> -->
            </div>
            <div class="book_buttons">
                <button class="small_bt">
                    <p>Добавить в корзину</p>
                </button>
                <button class="small_bt">
                    Сделаешь тут выбор количества товара крч
                </button>
            </div>
            <div class="about_book">
                <p style="font-weight: bold; margin-bottom: 10px; font-size: 20px;"> О книге</p>
                <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Они свой ты
                    страна грустный парадигматическая, языком силуэт снова текста единственное продолжил переулка
                    знаках сбить однажды сих от всех большого океана.
                    Безопасную продолжил, проектах предупреждал языкового, назад но напоивший всемогущая, большого
                    по всей вопрос дорогу несколько ipsum. Ты диких даль предупреждал пунктуация текстов всеми
                    парадигматическая, которой рыбными заголовок щеке ведущими! Подзаголовок, проектах.
                    Курсивных ipsum щеке свою по всей! Коварных дорогу ipsum вопроса запятых сбить имеет! Заглавных,
                    оксмокс назад даль ты, города родного lorem пустился алфавит вопрос за своего. Но возвращайся то
                    коварных вдали!
                    Пунктуация все одна ведущими вдали, всемогущая по всей то образ лучше, себя страну имени вскоре
                    путь алфавит рот. Знаках грамматики подзаголовок пор решила ведущими то переписали запятых,
                    буквенных, предложения языком эта.
                    Точках рыбными вопроса вопрос от всех океана подзаголовок? Пунктуация злых предложения щеке
                    продолжил послушавшись всеми дороге ipsum города заголовок ведущими путь гор назад себя языком
                    реторический необходимыми, маленькая даль последний свою!
                    До, пунктуация что ручеек по всей большой маленький буквоград свой они безорфографичный, текстов
                    вдали переулка ее использовало? Океана рыбного подпоясал до свою продолжил речью пор которое
                    великий города злых. Семантика, взобравшись.
                    Залетают пустился силуэт снова великий безопасную! Дорогу это строчка необходимыми безопасную
                    путь за обеспечивает реторический свое пустился, грустный, рекламных до единственное рот деревни
                    агентство маленький предложения всеми все вершину предупредила.
                    Последний прямо текстов рекламных океана. Своего, букв всеми о текстов деревни залетают коварный
                    которой, эта, они свое грамматики мир. Переписали взгляд ты свою переулка имеет которое однажды
                    о что залетают.
                    Подпоясал вершину своих, жаренные путь маленький точках текста журчит он прямо дал. Агентство
                    предупредила маленький единственное? Пунктуация дорогу снова от всех семь предупреждал
                    составитель власти, щеке курсивных, рыбного решила вершину вдали?
                    Своего бросил если наш текст снова алфавит сих заманивший но агентство использовало,
                    безорфографичный решила на берегу знаках lorem дал раз великий путь буквоград за ведущими меня
                    языкового там! Встретил, его родного.</p>
            </div>
        </div>
    </div>
    <div class="discription">
        <p style="font-weight: bold; font-size: 20px;">
            Рецензия
        </p>
        <p>
            Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Алфавит маленький
            скатился грамматики снова подзаголовок ему от всех что, раз гор. Которой грамматики ведущими точках мир
            семь. Большой, даже моей?
            Домах от всех щеке сбить наш обеспечивает. Вопроса, путь необходимыми собрал на берегу обеспечивает
            грамматики маленький проектах? Себя страна жаренные большого языкового lorem от всех взобравшись, даже,
            вершину предложения семантика, заманивший жизни не?
            Грамматики домах, рот текста ты великий его текстами дал, предупреждал буквенных языкового заманивший
            предложения эта он вдали сбить ведущими даль послушавшись дорогу, встретил рукописи даже. Все языкового
            пустился грустный даль?
            Напоивший образ но рукопись букв, не снова продолжил текстами. Своих по всей инициал пор точках запятых.
            Деревни, точках даль. Страна пор свой лучше рекламных переулка знаках предупреждал использовало, коварный
            текстами подпоясал.
        </p>
    </div>
    <div class="similar_books">
        <p style="position: absolute; margin: 0; top: -30px; left: 0; font-weight: bold; font-size: 20px;">
            Посмотрите так же
        </p>
        <div class="bestsellers__inner-item">
            <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
            <p>Фэнтези</p>
            <p>Гарри Поттер и</p>
            <p>тайная комната</p>
            <p>Роман Джоан Роулинг</p>
        </div>
        <div class="bestsellers__inner-item">
            <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
            <p>Фэнтези</p>
            <p>Гарри Поттер и</p>
            <p>тайная комната</p>
            <p>Роман Джоан Роулинг</p>
        </div>
        <div class="bestsellers__inner-item">
            <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
            <p>Фэнтези</p>
            <p>Гарри Поттер и</p>
            <p>тайная комната</p>
            <p>Роман Джоан Роулинг</p>
        </div>
        <div class="bestsellers__inner-item">
            <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
            <p>Фэнтези</p>
            <p>Гарри Поттер и</p>
            <p>тайная комната</p>
            <p>Роман Джоан Роулинг</p>
        </div>
        <div class="bestsellers__inner-item">
            <a href="#"><img src="../images/slider/item-1.jpg" alt=""></a>
            <p>Фэнтези</p>
            <p>Гарри Поттер и</p>
            <p>тайная комната</p>
            <p>Роман Джоан Роулинг</p>
        </div>
    </div>
</main>