<div class="conteiner">
    <p class="title">Вход</p>
    <form>
        <div class="main_block">
            <div class="inputs">
                <div>
                    <p>Почта</p>
                    <input>
                    <p></p>
                </div>
                <div>
                    <p>Пароль</p>
                    <input>
                    <p></p>
                </div>
                <div>
                    <p>Подтвердите пароль</p>
                    <input>
                    <p></p>
                </div>

            </div>
            <div class="idk">
                <p>Ещё нет аккаунта? <span routerLink="/registration">Зарегистрируйтесь</span>.</p>
                <button>Войти</button>
            </div>
        </div>

    </form>
</div>