<div class="container">
    <p class="title">Вход</p>
    <form name="login-form">
        <div class="main_block">
            <div class="inputs">
                <div>
                    <p>Почта</p>
                    <input name="email">
                    <p></p>
                </div>
                <div>
                    <p>Пароль</p>
                    <input name="password">
                    <p></p>
                </div>
            </div>
            <div class="idk">
                <p>Ещё нет аккаунта? <span routerLink="/registration">Зарегистрируйтесь</span>.</p>
                <button (click)="TryLogin()">Войти</button>
            </div>
        </div>
    </form>
</div>
