<main>
  <div class="main_slider"></div>

  <div class="main_content">
    <div class="week">
      <p class="title">Новые товары!</p>
      <div class="items_slider">
        <ng-container *ngFor="let item of itemsDB.reverse(); index as i;">
            <app-item-card *ngIf="i <= 5" [itemInfo]="item">
            </app-item-card>
        </ng-container>
      </div>
    </div>
    <div class="week">
      <p class="title">Всё для дома</p>
      <div class="items_slider">
        <ng-container *ngFor="let item of (itemsDB.reverse() | FilterByHomeCategories); index as i;">
          <app-item-card *ngIf="i <= 5" [itemInfo]="item">
          </app-item-card>
        </ng-container>
      </div>
    </div>
    <div class="contacts">
      <p>Наши магазины</p>
      <div>
        <iframe class="map"
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Adac897bb7cdd6328a3c484b3e4425c80a47874f61a8b21fcd0a162fd14813a01&amp;source=constructor"
          width="1280" height="400" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</main>
