
<main>
  <div class="main_slider"></div>

  <div class="main_content">
    <div class="week">
      <p class="title">Акции недели</p>
      <div class="items_slider">
        <div class="item">
          <div class="discount">
            <p>-40%</p>
          </div>
          <img src="./assets/img/doshirak.png">
          <div>
            <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
            <p class="discount_time">С 17 мая до 23 апреля</p>
          </div>
          <button>
            <p>Добавить в корзину</p>
          </button>
        </div>
      </div>
    </div>
    <div class="week">
      <p class="title">Акции недели</p>
      <div class="items_slider">
        <div class="item">
          <div class="discount">
            <p>-40%</p>
          </div>
          <img src="./assets/img/doshirak.png">
          <div>
            <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
            <p class="discount_time">С 17 мая до 23 апреля</p>
          </div>
          <button>
            <p>Добавить в корзину</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>