<div class="conteiner">
    <p class="title">Регистрация</p>
    <form>
        <div class="main_block">
            <div class="inputs">
                <div>
                    <p>Имя</p>
                    <input>
                </div>
                <div>
                    <p>Фамилия</p>
                    <input>
                    <p></p>
                </div>
                <div>
                    <p>Телефон</p>
                    <input>
                    <p></p>
                </div>
                <div>
                    <p>Почта</p>
                    <input>
                    <p></p>
                </div>
                <div>
                    <p>Пароль</p>
                    <input>
                    <p></p>
                </div>
                <div>
                    <p>Подтвердите пароль</p>
                    <input>
                    <p></p>
                </div>

            </div>
            <div class="idk">
                <p>Уже есть аккаунт? <span routerLink="/login">Войдите</span>.</p>
                <button>Зарегистрироваться</button>
            </div>
        </div>

    </form>
</div>