<div class="container">
    <p class="title">Регистрация</p>
    <form name="registration-form">
        <div class="main_block">
            <div class="inputs">
                <div>
                    <p>Имя</p>
                    <input name="firstname">
                </div>
                <div>
                    <p>Фамилия</p>
                    <input name="lastname">
                    <p></p>
                </div>
                <div>
                    <p>Телефон</p>
                    <input placeholder="Необязательно" name="phone">
                    <p></p>
                </div>
                <div>
                    <p>Почта</p>
                    <input type="email" name="email">
                    <p></p>
                </div>
                <div>
                    <p>Пароль</p>
                    <input type="password" name="password">
                    <p></p>
                </div>
                <div>
                    <p>Подтвердите пароль</p>
                    <input type="password" name="repeat-password">
                    <p></p>
                </div>

            </div>
            <div class="idk">
                <p>Уже есть аккаунт? <span routerLink="/login" (click)="HeaderComponent.Instance.closeMenu()">Войдите</span>.</p>
                <button type="button" (click)="TryRegistration()">Зарегистрироваться</button>
            </div>
        </div>

    </form>
</div>
