<div class="main_block">
    <div class="container">
        <div class="filters">
            <p class="title">Фильтры</p>
            <div>
                <p>Цена</p>
                <div class="inputs">
                    <input type="number" placeholder="Мин. цена" min="0">
                    <input type="number" placeholder="Макс. цена">
                </div>
            </div>
            <div>
                <p>Тип продукции</p>
                <select [(ngModel)]="selectedCategory">
                    <option *ngFor="let enum of Categories | keyvalue" value="{{ enum.value }}">
                      {{ enum.value }}
                    </option>
                </select>
            </div>
            <button class="acepts">Применить</button>
        </div>
        <div class="catalog">
          <ng-container *ngFor="let item of itemsDB;">
            <ng-container *ngIf="item.category === selectedCategory || selectedCategory === Categories['Всё']">
              <ng-container *ngIf="updateIDsInCart()">

                  <app-item-card
                    [itemInfo]="item"
                    [existInCart]="itemsIDsInCart.includes(item.id)"
                  ></app-item-card>

              </ng-container>
            </ng-container>
          </ng-container>

        </div>
    </div>
</div>
