input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.main_block {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: auto;
}

.filters {
  top: 20px;
  position: relative;
  width: 14%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }


}

.inputs {
  display: flex;

  input {
    width: 70px;
    margin: 4px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #c9c9c9;
    height: 20px;
  }

}

.acepts {
  background-color: initial;
  border: 1px solid #c9c9c9;
  position: absolute;
  bottom: 10px;
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  font-size: 16px;
  transition: 0.1s;
  cursor: pointer;
}

.acepts:hover {
  background-color: orange;
  border: 1px solid orange;
  color: white;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px;
}

.catalog {
  top: 10px;
  position: relative;
  width: 84%;
  min-height: 300px;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;


}

.discount_time {
  margin-top: 5px;
  color: #888888;
}
