
<div class="fake_header"></div>
<div class="main_block">
    <div class="container">
        <div class="filters">
            <p class="title">Фильтры</p>
            <div>
                <p>Цена</p>
                <div class="inputs">
                    <input type="number" placeholder="Мин. цена">
                    <input type="number" placeholder="Макс. цена">
                </div>
            </div>
            <div>
                <p>Тип продукции</p>
                <select>
                    <option>Фрукты</option>
                    <option>Овищи</option>
                    <option>Выпечка</option>
                    <option>Напитки</option>
                    <option>Техника</option>
                    <option>Всё для дома</option>
                </select>
            </div>
            <button class="acepts">Применить</button>
        </div>
        <div class="catalog">
            <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
              <div class="item">
                <img src="./assets/img/doshirak.png">
                <div>
                  <p class="name">Лапша ДОШИРАК куриная по-домашнему, 10г</p>
                  <p class="discount_time">С 17 мая до 23 апреля</p>
                </div>
                <button>
                  <p>Добавить в корзину</p>
                </button>
              </div>
        </div>
    </div>
</div>