
<div class="main_block">
    <div class="popUp_add " id="popup">
        <div class="add_img">
            <p>Добавить изображение</p>
        </div>
        <input placeholder="Название">
        <select aria-placeholder="Категория">
            <option>Продукты</option>
            <option>Другое</option>

        </select>
        <input placeholder="Вес">
        <input placeholder="Цена">
        <textarea class="discriptionAdd" placeholder="Описание"></textarea>
        <button class="add">Добавить</button>
    </div>
</div>