.item {
  position: relative;
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  word-break: break-all;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  margin-left: 19px;
  margin-top: 10px;

  .interacts {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
      position: relative;
      width: auto;
      padding: 0 5px 0 5px;
      height: 32px;
      font-size: 16px;
      border: none;
      background-color: initial;
      bottom: 10px;
      font-weight: 600;
      color: #b1b1b1;

      :hover {
        color: orange;
      }
    }
  }


  img {
    width: 141px;
    height: 136px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
