<div *ngIf="!isShoppingCart; then defaultItem else cartItem"></div>
<ng-template #defaultItem>
  <div class="item">
    <img [src]="itemInfo?.imageName ? './assets/img/'+itemInfo?.imageName : './assets/img/no-photo.png'">
    <div>
      <p class="name">{{ itemInfo?.name }}</p>
      <p class="discount_time">Цена: {{ itemInfo?.price }} ₽</p>
    </div>
    <div class="interacts">
      <ng-container *ngIf="existInCart">
        <button (click)="removeItemFromCart()" class="delete-button"><img src="./assets/img/delete-icon.png" alt="Кнопка удаления товара из корзины"/></button>
        <button (click)="decrementItemCount()"><p>-</p></button>
        <p>{{ countInCart }}</p>
        <button (click)="incrementItemCount()"><p>+</p></button>
      </ng-container>
      <ng-container *ngIf="!existInCart">
        <button (click)="addToCart()">
          <p [style]="{fontSize: '16px'}">Добавить в корзину</p>
        </button>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #cartItem>
  <div class="item">
    <img [src]="itemInfo?.imageName ? './assets/img/'+itemInfo?.imageName : './assets/img/no-photo.png'">
    <div>
      <p class="name">{{ itemInfo?.name }}</p>
      <p class="discount_time">Цена: {{ itemInfo?.price }} ₽</p>
    </div>
    <div class="interacts">
      <ng-container *ngIf="existInCart">
        <button (click)="removeItemFromCart()" class="delete-button"><img src="./assets/img/delete-icon.png" alt="Кнопка удаления товара из корзины"/></button>
        <button (click)="decrementItemCount()"><p>-</p></button>
        <p>{{ countInCart }}</p>
        <button (click)="incrementItemCount()"><p>+</p></button>
      </ng-container>
    </div>
  </div>
</ng-template>
